@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background: linear-gradient(to bottom,#ffb5e0 20%, #FA58B6);
}

.navbar{
  position: fixed;
  width: 100%;
  padding: 15px 20px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 999;
}
.navbar.scroll{
  background: #1A1A40;
}
.navbar .logo{
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}
.navbar ul{
  display: flex;
  align-items: center;
}
.navbar ul li{
  margin: 0 10px;
  list-style: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
.navbar ul li a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.navbar ul li:hover{
  background: white;
}
.navbar ul li:hover a{
  color: #1A1A40;
}
.navbar i{
  color: white;
  font-size: 25px;
  display: none;
}

.home{
  width: 100%;
  height: 100vh;
  background: #7A0BC0;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.home .left-column{
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .left-column .welcome{
  font-size: 25px;
  font-weight: 600;
  color: white;
  margin: 10px 0;
}
.home .left-column .typing{
  font-size: 25px;
  color: crimson;
  font-weight: bold;
}
.home .right-column{
  width: 55%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .right-column .gambar{
  position: relative;
  width: 300px;
  height: 400px;
}
.home .right-column .gambar img{
  width: 100%;
  height: 100%;
  border-radius: 50% 0 50% 0;
  object-fit: cover;
  filter: sepia(40%) brightness(35%);
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
  pointer-events: none;
}
.home .right-column .gambar::after{
  content: '';
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  background: green;
  animation: spin 1s infinite linear;
}

.about{
  width: 100%;
  padding: 50px 0;
}
.about .title{
  width: 100%;
  height: auto;
  padding: 15px 0;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}
.about .flex{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.about .flex .left{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.about .flex .right{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.project{
  width: 100%;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  padding: 50px 0;
}
.project .title{
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 25px;
  color: black;
  font-weight: 600;
}

.project .flex{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.project .flex .card{
  width: calc(100% / 3 - 30px);
  padding: 15px;
  border-radius: 5px;
  background: white;
  margin: 10px auto;
}
.project .flex .card a{
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.project .show-more{
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.skill{
  width: 100%;
  padding: 50px 0;
}
.skill .title{
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.skill .flex{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skill .flex .gambar{
  position: relative;
  width: calc(100% / 5);
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill .flex .gambar img{
  width: 50%;
  object-fit: cover;
}

#html:hover::after{
  content: 'HTML';
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#css:hover::after{
  content: 'CSS';
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#js:hover::after{
  content: 'Javascript';
  color: crimson;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#php:hover::after{
  content: 'PHP';
  color: green;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#bootstrap:hover::after{
  content: 'Bootstrap';
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.contact{
  width: 100%;
  background: #270082;
  padding: 50px 0;
}
.contact .title{
  width: 100%;
  padding: 20px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  text-align: center;
}
.contact form{
  width: 50%;
  margin: auto;
  padding: 10px;
}
.contact form .error{
  width: 100%;
  padding: 10px 20px;
  background: crimson;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  display: none;
}
.contact form input{
  width: 100%;
  padding: 10px 15px;
  outline: none;
  border-radius: 5px;
  margin: 15px 0;
  font-size: 20px;
  border: none;
}
.contact form button{
  padding: 10px 15px;
  color: white;
  background: green;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  border: none;
}
.sosmed{
  width: 100%;
  background: #270082;
  padding: 20px 0;
  text-align: center;
}
.sosmed a{
  margin: 0 15px;
  color: white;
}
.sosmed i{
  font-size: 25px;
}
footer{
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-weight: 600;
  background: #1A1A40;
  color: white;
}
.scroll-to-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  animation: mantul 0.5s infinite linear;
  display: none;
}
.scroll-to-top.active{
  display: block;
}
.scroll-to-top a{
  text-decoration: none;
  color: green;
}
.scroll-to-top i{
  font-size: 40px;
}
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}
@keyframes mantul{
  0%{
    bottom: 30px;
  }
  20%{
    bottom: 50px;
  }
  50%{
    bottom: 40px;
  }
  100%{
    bottom: 30px;
  }
}

@media(max-width: 720px){
  .navbar .logo{
    font-size: 25px;
  }
  .navbar ul{
    position: fixed;
    width: 100%;
    padding: 10px 0;
    flex-direction: column;
    top: 50px;
    left: 0;
    background: #1A1A40;
    transition: 0.5s ease;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
  }
  .navbar.active ul{
    display: flex;
    opacity: 1;
    pointer-events: auto;
  }
  .navbar ul li{
    width: 100%;
    text-align: center;
  }
  .navbar i{
    display: block;
  }
  
  .home{
    flex-direction: column;
  }
  .home .left-column{
    width: 100%;
  }
  .home .right-column{
    width: 100%;
  }
  .about .flex{
    flex-direction: column;
  }
  .about .flex .left{
    width: 100%;
    text-align: center;
  }
  .about .flex .right{
    width: 100%;
    text-align: center;
  }
  .project .flex .card{
    width: 80%;
  }
  .skill .flex .gambar{
    width: 50%;
  }
  .contact form{
    width: 100%;
  }
}